*{
	border-radius:0 !important;
}
body{
	font-size:16px;
}
.container-fluid{
	padding:0;
}

.jumbotron{
	color:#ffffff;
	padding:20% 5% 5% 5%;
	background-image:url("../images/header.jpg");
	background-size:100%;
	box-shadow: 1px 1px 15px #273238;
}
.jumbotron h1{
	text-transform:uppercase;
	font-size:6em;
	line-height: 0.9em;
	display:inline;
}

.logo img{
	height:100px;
	padding:0 0 0 1%;
	margin:-2% 0 0 0;
}

.info{
	padding:2% 5% 2% 5%;
}


.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
	background-color:rgba(176, 190, 197, 0.3);
	border-bottom:5px solid #b81c1d;
	-webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.nav-pills > li > a:hover, .nav-pills>li.active>a:hover {
    background-color: transparent;
    color: #263238;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}

.nav{
	border-right: 5px solid #f44238;
}

li a:first-child{ /*first-child selector matches first a element in all li elements*/
	color:#ffffff;
	text-align:right;
	text-transform:uppercase;
}


.footer{
	margin:0 auto;
	background-color:#263238;
	color:#ffffff;
	font-size:0.8em;
	text-align:center;
	text-transform:uppercase;
}

.footer p{

}